<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Active Detail">
  <ion-content class="padding">
  
    <div class="center-align">

      <div class="pending-detail-header">
        <h3 class="center-text">
          Segment Name - {{segmentName}}
        </h3>
      </div>

      <h4 class="center-text">
        Distance - {{distanceInMiles | number: 2}} miles
      </h4>

      <h4 class="center-text">
        Location - {{city}}, {{state}}
      </h4>

      <h4 class="center-text">
        Activity Type - {{activityType}}
      </h4>

      <h4 class="center-text">
        Average Grade - {{averageGrade}}
      </h4>

      <h4 class="center-text">
        Climb Category - {{climbCategory}}
      </h4>

    </div>

  </ion-content>
</ion-view>

