<ion-view view-title="Challenge Feed">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>

    <!-- Create challenge button -->
    <a href="#/tab/create-challenge" class="button button-block button-assertive">
      Create Challenge
    </a>

    <!-- Challenge feed with list items -->
    <!-- href="#/tab/pending-detail/:challengeId" -->

    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="challenge in challenges" href="#/tab/pending-detail/{{challenge._id}}">
        <img ng-src="{{photo[challenge.challengerId] || photo[challenge.challengeeId]}}">
        <p>Opponent: {{challenge.opponent}}</p>
        <p>Segment: {{challenge.segmentName}}</p>
        <p>Complete By: {{challenge.expires | date:format:shortDate}}</p>
        <div class="button-bar" ng-show="{{challenge.challengeeId}} === {{userId}}">
          <button class="button button-outline button-block button-small" ng-click="declineChallenge(challenge); challenges.splice($index, 1); $event.preventDefault();">
            <i class="icon ion-close-round assertive"></i>
          </button>
          <button class="button button-outline button-block button-small" ng-click="acceptChallenge(challenge); challenges.splice($index, 1); $event.preventDefault();">
            <i class="icon ion-checkmark-round balanced"></i>
          </button>
        </div>
      </ion-item>
    </ion-list>
  
  </ion-content>
</ion-view>