<ion-view view-title="Challenge Feed">
  <ion-content class="padding">

    <!-- Create challenge button -->
    <a href="#/tab/create-challenge" class="button button-block button-assertive">
      Create Challenge
    </a>

    <!-- This button does not work - why? -->
    <!-- <button class="button button-block button-assertive" href="#/tab/create-challenge">
      Create Challenge
    </button> -->

    <!-- Challenge feed with list card -->
    <div ng-repeat="challenger in challengers">
      <div class="list card">
        <div class="item item-divider">Challenge from {{challenger.name}}</div>
        <div class="item item-body">
          <div>
            {{challenger.name}} challenges you to Segment {{challenger.segment}}
          </div>
        </div>
        <div class="button-bar">
          <a class="button">Accept</a>
          <a class="button">Decline</a>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>
