<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<!-- Old code -->
<!-- <ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      Challenged you to Segment {{chat.segment}}
    </p>
  </ion-content>
</ion-view> -->

<ion-view>
  <ion-content class="padding">
    
    <!-- Opponents -->
    <div class="row">
      <div class="col">
        <h3>John Doe</h3>
      </div>
      <div class="col">
        <h3>AJ Mullins</h3>
      </div>
    </div>

    <!-- Time -->
    <div class="row">
      <div class="col">
        <h4>Time</h4>
        <p>00:15:00</p>
      </div>
      <div class="col">
        <h4>Time</h4>
        <p>00:20:00</p>
      </div>
    </div>

  </ion-content>
</ion-view>
