<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Challenge Stats">
  <ion-content class="padding">
    
    <!-- Do not display challenge if it is incomplete -->
    <div ng-show="!challengeStatus">
      <h1 class="center-text">This challenge is not yet complete!</h1>
    </div>

    <!-- Display challenge if it is complete -->
    <div ng-show="challengeStatus">
    <div class="challenge-result-header">
    <!-- Result -->
      <div class="row">
        <div class="col.col-100 center-align">
          <h1>You {{challengeResult}}!</h1>
        </div>
      </div>

      <!-- Segment - name -->
      <div class="row">
        <div class="col.col-100 center-align">
          <h3>{{segment}}</h3>
        </div>
      </div>

      <!-- Segment - name -->
      <div class="row">
        <div class="col.col-100 center-align">
          <h3>{{distance | number: 2}} Miles</h3>
        </div>
      </div>
    </div>

      <!-- Opponents -->
      <div class="row">
        <div class="col">
          <h3 class="center-text">{{userName}}</h3>
        </div>
        <div class="col">
          <h3 class="center-text">{{opponent}}</h3>
        </div>
      </div>

      <!-- Time -->
   <!--    <div class="row">
        <div class="col center-align">
          <h4 class="center-text">Time</h4>
          <p class="center-text">{{userTime}}</p>
        </div>
        <div class="col center-align">
          <h4 class="center-text">Time</h4>
          <p class="center-text">{{opponentTime}}</p>
        </div>
      </div>
    </div> -->


    <div class="col center-align">

    <table class="challenge-stats-table">
      <!-- Time -->
      <tr>
        <td class="challenge-stats-table-text">{{userTime}}</td>
        <td>
          <p class="challenge-stats-table-text">
            <b>Time</b>
          </p>
        </td>
        <td class="challenge-stats-table-text">{{opponentTime}}</td>
      </tr>

      <!-- Average Heart Rate -->
      <tr>
        <td class="challenge-stats-table-text">{{userTime}}</td>
        <td>
          <p class="challenge-stats-table-text">
            <b>Avg Heart Rate</b>
          </p>
        </td>
        <td class="challenge-stats-table-text">{{opponentTime}}</td>
      </tr>

      <!-- Max Heart Rate -->
      <tr>
        <td class="challenge-stats-table-text">{{userTime}}</td>
        <td>
          <p class="challenge-stats-table-text">
            <b>Max Heart Rate</b>
          </p>
        </td>
        <td class="challenge-stats-table-text">{{opponentTime}}</td>
      </tr>
  
      <!-- Cadence -->
      <tr>
        <td class="challenge-stats-table-text">{{userTime}}</td>
        <td>
          <p class="challenge-stats-table-text">
            <b>Cadence</b>
          </p>
        </td>
        <td class="challenge-stats-table-text">{{opponentTime}}</td>
      </tr>

      <!-- Watts -->
      <tr>
        <td class="challenge-stats-table-text">{{userTime}}</td>
        <td>
          <p class="challenge-stats-table-text">
            <b>Watts</b>
          </p>
        </td>
        <td class="challenge-stats-table-text">{{opponentTime}}</td>
      </tr>
      
    </table>

    </div>

  </ion-content>
</ion-view>