<ion-view view-title="Challenge Feed">
  <ion-content class="padding">

    <!-- Create challenge button -->
    <a href="#/tab/create-challenge" class="button button-block button-assertive">
      Create Challenge
    </a>

    <!-- This button does not work - why? -->
    <!-- <button class="button button-block button-assertive" href="#/tab/create-challenge">
      Create Challenge
    </button> -->

    <!-- Challenge feed with list card -->
    <div ng-repeat="challenge in challenges">
      <div class="list card">
        <div class="item item-divider">Challenge from {{ challenge.challengeeName }}</div>
        <div class="item item-body">
          <div>
            Gear up! You've been challenged to {{ challenge.segmentName }}
          </div>
        </div>
        <div class="button-bar">
          <a class="button"ng-click="acceptChallenge()">Accept</a>
          <a class="button"ng-click="declineChallenge()">Decline</a>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>
