<ion-view view-title="Completed Challenges">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="challenger in challengers" type="item-text-wrap" href="#/tab/challenge-stats">
        <img ng-src="{{challenger.face}}">
        <h2>{{challenger.name}}</h2>
        <p>Challenged you to Segment {{challenger.segment}}</p>
        <p>You {{challenger.result}} this challenge!</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
