<ion-view view-title="Completed Challenges">
  <ion-content>
    <ion-list>
      <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
      </ion-refresher>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge-stats/{{challenge._id}}">
        <img ng-src="{{photo[challenge.challengerId] || photo[challenge.challengeeId]}}">
        <p>Opponent: {{challenge.opponent}}</p>
        <p>Segment: {{challenge.segmentName}}</p>
        <p>{{challenge.completedStatus}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
