<ion-view view-title="Create Challenge">
  <ion-content class="padding">

    <!-- Accept chalenge button -->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search for a challenger">
      </label>
    </div>

    <div class="list">
      <div class="item item-divider">
        Recent Challengers
      </div>
      <a class="item" href="#">
        Justin Zimmerman
      </a>
      <a class="item" href="#">
        David Lee
      </a>
      <a class="item" href="#">
        Shan Balta
      </a>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search for a segment">
      </label>
    </div>

    <div class="list">
      <div class="item item-divider">
        Recent Segments
      </div>
      <a class="item" href="#">
        Walnut Creek Main Street
      </a>
      <a class="item" href="#">
        Memory Grove Sprint
      </a>
      <a class="item" href="#">
        Western Port Wall
      </a>
    </div>

    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date">
    </label>

    <button class="button button-block button-assertive">
      Create Challenge
    </button>

  </ion-content>
</ion-view>