<ion-view view-title="Create Challenge">
  <ion-content class="padding">

    <div ng-controller="CreateCtrl">

      <!-- CHALLENGER SELECTOR -->

      <div>
        <div class="item item-divider">Select a Challenger</div>
        <ion-select label="Select a Challenger" label-field="name" label-field1="count" provider="challengers"  ng-model="challenger"/>
      </div>

      <br>

      <!-- SEGMENT SELECTOR -->

      <div>
        <div class="item item-divider">Select a Segment</div>
        <ion-select label="Select a segment" label-field="segmentName" label-field1="count" provider="segments"  ng-model="segment"/>
      </div>

      <br>

      <!-- DATE SELECTOR -->

      <div>
        <div class="item item-divider">Select a Completion Date</div>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="date" required />
        </label>
      </div>
      
      <br>

      <button class="button button-block button-assertive" ng-disabled="!(segment.segmentName && challenger.name && date)" ng-click="test()">Create Challenge</button>

      <!-- DELETE BELOW BEFORE DEPLOYING - reference code -->

     <!--  <a href="#/tab/active-challenges" class="button button-block button-assertive" ng-click="test()" ng-show="challenger && segment">
      Create Challenge
      </a> -->

      <!-- DELETE ABOVE BEFORE DEPLOYING -->
     
    </div>

  </ion-content>
</ion-view>