<ion-view view-title="Create Challenge">
  <ion-content class="padding">

    <div ng-controller="CreateCtrl">

      <!-- CHALLENGER SELECTOR -->

      <div>
        <div class="item item-divider">Select a Challenger</div>
        <ion-select label="Select a Challenger" label-field="name" label-field1="count" provider="challengers"  ng-model="challenger"/>
      </div>

      <br>

      <!-- SEGMENT SELECTOR -->

      <div>
        <div class="item item-divider">Select a Segment</div>
        <ion-select label="Select a segment" label-field="segment" label-field1="count" provider="segments"  ng-model="segment"/>
      </div>

      <br>

      <!-- DATE SELECTOR -->

      <div>
        <div class="item item-divider">Select a Completion Date</div>
        <label class="item item-input">
          <span class="input-label">D-Date</span>
          <input type="date">
        </label>
      </div>
      
      <br>

      <!-- TODO: Change button to enable once all fields have been filled out (ngDisabled). Currently the button is not visible until all fields have been filled out which might cause confusion -->
      <a href="#/tab/active-challenges" class="button button-block button-assertive" ng-click="test()" ng-show="challenger && segment">
      Create Challenge
      </a>

      <!-- <a href="#/tab/active-challenges" class="button button-block button-assertive">
      Create Challenge
      </a> -->

    </div>

  </ion-content>
</ion-view>