<ion-view view-title="Login" hide-nav-bar="true" name="login" class="login-background">
  <ion-content class="padding">
    <div class="row row-center">
      <div class="col col-center">
        <span class="login-text"><strong>Welcome to Bestrida</strong></span>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center">
        <button class="button button-block login-button" ng-click="login()">
          Connect with Strava
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>