<ion-view view-title="Login" hide-nav-bar="true" name="login" class="login-background">
  <div class="row row-center title-container">
    <div class="col col-center">
      <span class="login-text"><strong>Welcome to Bestrida</strong></span>
    </div>
  </div>
  <div class="row row-center login-container">
    <div class="col col-center">
      <button class="button button-block button-outline button-assertive login-button" ng-click="login()">
        <strong>Connect with Strava</strong>
      </button>
    </div>
  </div>
</ion-view>