<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Challenge Feed Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/challenge-feed">
    <ion-nav-view name="challenge-feed"></ion-nav-view>
  </ion-tab>

  <!-- Active Challenges Tab -->
  <ion-tab title="Active" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/active-challenges">
    <ion-nav-view name="active-challenges"></ion-nav-view>
  </ion-tab>

  <!-- Create Challenge Tab -->
  <ion-tab title="Create" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/create-challenge">
    <ion-nav-view name="create-challenge"></ion-nav-view>
  </ion-tab>

  <!-- Completed Challenges Tab -->
  <ion-tab title="Completed" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/completed-challenges">
    <ion-nav-view name="completed-challenges"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
