/* Empty. Add your own CSS if you like */
.center-align {
  margin: auto;
}

.center-text {
  text-align: center;
}

.login-background{
  background: url('../img/LoginBackground.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 50%;
}

.login-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.login-text {
  color: #fff;
  font-size: 24px;
}

.login-button {
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: #fff;
}

.challenge-result-header {
    border: 1px solid #A9A9A9;
    padding: 20px; 
}

.challenge-stats-table {
  margin-left: auto; 
  margin-right: auto;
}

.challenge-stats-table-text {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  padding-top: 2.5px; 
  padding-right: 20px; 
  padding-bottom: 2.5px; 
  padding-left: 20px; 
}

.pending-detail-header {
    border: 1px solid #A9A9A9;
    padding: 20px; 
}

.challenge-stats-table-data {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  padding-top: 2.5px; 
  padding-right: 20px; 
  padding-bottom: 2.5px; 
  padding-left: 5px; 
}